* {
	margin: 0;
	overflow: auto;
}
div.main {
	max-width: 1000px;
	margin: auto;
	padding: 20px;
	position: center;
	background-color: #fafafa;
}
div.previewMain {
	max-width: 1000px;
	position: center;
	padding: 0px;
	background-color: #fafafa;
	margin-top: -2.8em;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Segoe UI", Calibri, Candara, Segoe, Optima, Arial, sans-serif;
	text-align: left;
}
p {
	padding-bottom: 0.5em;
	text-indent: 2em;
	font-size: 17px;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
hr {
	margin-top: 10px;
	margin-bottom: 10px;
}
body {
	padding-top: 2.8em;
}
iframe {
	width: 100%;
	height: 2.8em;
	font-size: 17px;
	overflow: hidden;
	position: fixed;
	top: 0;
}
div.codeBlock {
	display: inline-block;
	background-color: #f4f4f4;
	border-radius: 10px;
	padding-left: 1em;
	padding-right: 1.5em;
}
table {
	margin-left: 1em;
	padding: 0;
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
th, td {
	padding: 5px;
}
table.files {
	margin-top: 1em;
	display: inline-block;
	float: right;
}
div.pageImage {
	display: inline-block;
	float: right;
	margin-left: 1em;
}
p.imageDescription {
	text-align: center;
	text-indent: 0;
	padding-left: 1.5em;
	padding-right: 1.5em;
	font-size: 15px;
	color: #555;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}